@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Manrope";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.heading-primary {
  font-weight: 800;
  font-size: 8.6rem;
  line-height: 8.6rem;
  letter-spacing: -0.04em;
  display: block;
}

.heading-secondary-main {
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.04em;
  color: #374447;
}
.heading-secondary {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.04em;
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.heading-h4 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #7eaeb9;
}

.sub-heading {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(15, 21, 34, 0.8);
}

.container {
  max-width: 160rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.mg-bt-40 {
  margin-bottom: 4rem;
}
.mg-bt-32 {
  margin-bottom: 3.2rem;
}
.mg-bt-24 {
  margin-bottom: 2.4rem;
}
.mg-bt-16 {
  margin-bottom: 1.6rem;
}

.btn-primary {
  cursor: pointer;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #ffffff;
  padding: 2.6rem 4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  background-color: #0997b6;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: rgba(9, 150, 182, 0.8);
}

.btn-primary span {
  color: #96d0dd;
}

.call-box {
  position: relative;
  padding: 8px 0 8px 12px;
  width: 210px;
  max-height: 42px;
  background: #ffffff;
  border: 1.37349px solid #c2d2e2;
  display: flex;
  justify-content: space-between;
}

.call-number {
  font-weight: 700;
  font-size: 21.9759px;
  line-height: 25px;
  color: #a51078;
}

.call-price-p {
  font-weight: 400;
  font-size: 10.988px;
  line-height: 13px;
  color: #ffffff;
}

.call-price {
  padding: 8px 16px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 8px;
  height: 47.39px;
  background: #a51078;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #f5f8ff;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -0.1px;
  top: 50%;
  transform: translateY(-50%);
}

/* header */

.header {
  padding-top: 5.2rem;
  background: #d3f7ff;
  height: 105.25rem;

  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  margin-bottom: 6.2rem;
}

.header-top {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #374447;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 5.2rem;
  list-style-type: none;
}

.header-link {
  letter-spacing: -0.04em;
  color: #7eaeb9;
  transition: all 0.3s;
}

.header-link:hover {
  color: rgba(126, 174, 185, 0.8);
}

.header-hero {
  max-width: 142.1rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1.85fr 2.25fr;
  gap: 2.4rem;
}

.hero-left {
  position: relative;
  padding-left: 8.6rem;
  max-height: 56.7rem;
  margin: auto 0;
}

.hero-left-border {
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
  background-image: linear-gradient(#0997b600, #0997b64d, #0997b600);
}

.hero-left .heading-h4 {
  margin-bottom: 2.4rem;
}
.hero-left .heading-primary {
  color: #374447;
  margin-bottom: 4rem;
}

.hero-left .call-box {
  margin-bottom: 1.6rem;
}
.hero-left .btn-primary {
  margin-bottom: 3.2rem;
}
.hero-left .sub-heading {
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #374447;
}

.hero-right {
  width: 100%;
  height: auto;
}

/* .section-why-us {
  margin-bottom: 8rem;
} */

.why-us-es {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 366px; */
  gap: 2.4rem;
}

.why-us {
  padding: 5.2rem 3.2rem 5.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: rgba(211, 247, 255, 0.4);
  border-radius: 24px;
  justify-content: start;
}

.why-us img {
  width: 100%;
  height: 120px;
  max-width: 120px;
}

.why-us-p {
  letter-spacing: -0.02em;
  color: #7eaeb9;
}

.section-how {
  margin-top: 8rem;
  padding-top: 154px;
  height: 122.3rem;
  display: grid;
  align-content: center;
  background: #1b2426;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  margin-bottom: 5.4rem;
  background-image: url(imgs/Dots.png);
  background-repeat: no-repeat;
  background-position: left 0 top 272px;
}

.how-left {
  width: 100%;
  max-width: 79.5rem;
  margin-top: 105px;
}

.section-how .heading-primary {
  color: #ffffff;
}

.section-how-cont {
  display: grid;
  grid-template-columns: 2.71fr 1.85fr;
  gap: 2rem;
  max-width: 147.3rem;
  margin: auto;
}

.how-steps {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.how-step {
  display: flex;
  gap: 2.4rem;
}

.how-step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  height: 64px;
  background: #1b2426;
  border: 1px solid rgba(255, 255, 255, 0.1);
  letter-spacing: -0.04em;
  color: #ffffff;
  border-radius: 50%;
}

.how-step-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.how-step-top {
  margin-top: 1.6rem;
}

.how-step-p {
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  max-width: 455px;
}
.how-step-top .heading-secondary {
  color: #fff;
}

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding-bottom: 5.4rem;
}

.footer-top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 4rem;
}

.footer-top-right,
.footer-top-left {
  max-width: 54.5rem;
}

.footer-bottom {
  padding-top: 3.2rem;
  border-top: 1px solid rgba(15, 21, 34, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.footer-list,
.footer-bottom,
.footer-top {
  flex-wrap: wrap;
}

.copyright,
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(15, 21, 34, 0.8);
  transition: all 0.3s;
}

.footer-link:hover {
  color: rgba(15, 21, 34, 1);
}

.tablet-show {
  display: none;
}

/* 1672 */
@media only screen and (max-width: 104.5em) {
  .container {
    margin: 0 32px;
  }
  .section-how-cont {
    max-width: unset;
    margin: 0 32px;
  }
}

/* 1400 */
@media only screen and (max-width: 87.5em) {
  .heading-primary {
    font-size: 7.6rem;
    line-height: 7.6rem;
  }
  .header-hero {
    gap: 0;
  }
  .hero-left {
    padding-left: 32px;
  }
  .hero-right {
    margin-top: 80px;
  }

  .section-how {
    /* height: 122.3rem; */
    background-size: 600px 250px;
    background-position: left 0 top 372px;
  }

  .how-left {
    max-width: 72.5rem;
    margin-top: 180px;
  }
  .footer {
    max-width: unset;
    margin: 0 32px;
    padding-bottom: 5.4rem;
  }
}

/* 1280 */
@media only screen and (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
  .hero-right {
    margin-top: 150px;
  }

  .why-us {
    padding: 3.2rem;
    justify-content: center;
    align-items: center;
  }
  .why-us-p {
    text-align: center;
  }
  .how-left {
    margin-top: 200px;
  }
}

/* 1100 */
@media only screen and (max-width: 68.75em) {
  .why-us-es {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-us {
    padding: 3.2rem;
    justify-content: center;
    align-items: center;
  }

  .why-us-p {
    text-align: center;
  }
  .section-how {
    background-size: 700px 300px;
    background-position: left -150px top 422px;
  }
  .how-left {
    margin-top: 250px;
  }

  .btn-primary {
    padding: 2.4rem 3.2rem;
  }
  .footer-top-right,
  .footer-top-left {
    max-width: unset;
  }
}

/* 1024 */
@media only screen and (max-width: 64em) {
  .tablet-show {
    display: block;
  }
  .tablet-hidden {
    display: none;
  }

  .header {
    padding-top: 0;
    height: unset;
    clip-path: unset;
    background: unset;
  }

  .header-top {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #f5f8ff;
    margin: 0 !important;
    margin-bottom: 24px !important;
  }

  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px;
  }

  .header-mobile button {
    background: none;
    border: none;
  }

  .hero-mobile-img {
    width: 100%;
    height: auto;
  }

  .header-mobile svg {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .header-list {
    padding: 16px 16px 0 16px;
    width: 100vw;
    /* height: calc(100vh - 80px); */
    max-width: 100vw;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 3rem;
    justify-content: center;
    list-style: none;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.3s ease;
  }
  .header.active .header-list {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 100px);
  }
  .header.active .header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f8ff;
    height: 100px;
  }

  .header .header-mobile svg.close {
    width: 40px;
    height: 40px;
    display: none;
  }

  .header.active .header-mobile svg.open {
    display: none;
  }
  .header.active .header-mobile svg.close {
    display: block;
  }

  .header-hero {
    text-align: center;
    max-width: unset;
    grid-template-columns: 1fr;
  }

  .hero-left .btn-primary {
    margin: auto;
    margin-bottom: 3.2rem;
  }

  .hero-left .call-box {
    margin: auto;
    margin-bottom: 1.6rem;
  }

  .section-how {
    height: unset;
    padding-top: 160px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    background-position: left 0 top 742px;
  }

  .section-how-cont {
    grid-template-columns: 1fr;
    gap: 64px;
  }

  .how-right {
    grid-area: 1 / 1 / 1 / -1;
  }

  .how-left {
    margin-top: unset;
  }
  .hero-left {
    padding-left: 0px;
  }

  .header-hero {
    padding: 0 24px;
  }

  .hero-left-border {
    display: none;
  }
}

/* 900 */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/* 600 */
@media only screen and (max-width: 37.5em) {
  body {
    font-size: 16px;
    line-height: 16px;
  }
  .container {
    margin: 0 24px;
  }

  .header .header-mobile svg {
    width: 20px !important;
    height: 20px !important;
  }

  .header.active .header-list {
    height: calc(100vh - 72px);
  }

  .header.active .header-mobile {
    height: 72px;
  }

  .section-how-cont {
    margin: 0 24px;
  }

  .footer {
    margin: 0 24px;
  }

  .header-mobile {
    padding: 0 24px;
  }

  .header-top {
    padding-top: 24px;
  }
  .mg-bt-40 {
    margin-bottom: 24px;
  }
  .why-us-es {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .why-us {
    padding: 24px;
    gap: 16px;
  }

  .why-us img {
    width: 80px;
    height: 80px;
  }

  .heading-secondary-main {
    font-size: 24px;
    line-height: 24px;
  }
  .heading-secondary {
    font-size: 18px;
    line-height: 18px;
  }

  .section-how {
    height: unset;
    padding-top: 100px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    background-position: left -50px top 742px;
    background-size: 400px 200px;
  }

  .btn-primary {
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    gap: 16px;
  }
  .btn-primary svg {
    width: 15px;
    height: 15px;
  }

  .hero-left .btn-primary {
    padding: 24px 32px;
    font-size: 22px;
    line-height: 30px;
  }
  .hero-left .btn-primary svg {
    width: 20px;
    height: 20px;
  }

  .heading-primary {
    font-size: 36px;
    line-height: 99.6%;
    text-align: center;
  }

  .heading-h4 {
    font-size: 12px;
    line-height: 99.6%;
    text-align: center;
  }

  .how-step-number {
    min-width: 52px;
    height: 52px;
  }

  .logo-text {
    font-size: 18px;
    line-height: 99.6%;
  }

  .header-logo img {
    width: 18px;
    height: 18px;
  }
}
